body {
    height: 200px;
    width: 250px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
    padding-top: 0px;
    background: linear-gradient(330deg, #02aab0, #00cdac);
}

#main {
    background-color: blue;
    margin-top: 0px;
    padding-top: 0px;
    height: 85%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#title {
    text-align: center;
    height: 12%;
}

#text-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#speed-select-input {
    width: 50px;
}

#speed-select-submit {
    padding-left: 8px;
    padding-right: 8px;
}